@use 'variables';

body {
  background-image: url('https://user-images.githubusercontent.com/13468728/233847739-219cb494-c265-4554-820a-bd3424c59065.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: white; /* Use the last defined color (white) */
}

h2 {
  color: white;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 4px;
}

.checkbox-select-all-option {
  width: 160px;
  margin: 0 16px;
}

.card {
  background-color: #ffffff; /* Replace transparent background with solid white */
  color: variables.$red-color;
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
  transition:
    transform 0.3s ease-in-out,
    box-shadow 0.3s ease;
}

.card:hover {
  transform: scale(1.02);
  transition: 0.3s ease-in-out;
}

.card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.card-header h2 {
  font-size: 24px;
  margin: 0;
}

.card-header .user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
}

.card-header .user-name {
  font-size: 18px;
  font-weight: bold;
}

.card-header .user-role {
  font-size: 14px;
  color: #666;
}

.card-body {
  font-size: 16px;
  line-height: 1.5;
}

.card-footer {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;
}

.card-footer button {
  background-color: variables.$red-color;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}
.description-box {
  background-color: #333; /* Nền màu tối */
  color: #fff; /* Chữ màu trắng */
  padding: 15px; /* Khoảng cách bên trong */
  border-radius: 5px; /* Bo tròn góc */
  font-size: 16px; /* Kích thước chữ */
  line-height: 1.5; /* Khoảng cách dòng */
}
