<style>

}

</style>
<div class="mt-4-show">
    <div class="row">
        <div class="col-lg-3">
            <ul>
                <li>{{news.author}}</li>
            </ul>
        </div>

        <div class="col-lg-9">
            <h2>{{news.title}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{news.videoId}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <div class="description-box">
                <p>{{news.content}}</p>
                </div>
        </div>
    </div>
</div>