<div class="mt-4-show">
    <div class="row">
        <div class="col-lg-3">
            
            <ul>
                <li>{{course.level}}</li>
            </ul>
        </div>

        <div class="col-lg-9">
            <h2>{{course.name}}</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoID}}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p class="description-box">{{course.description}}</p>
        </div>
    </div>
</div>
<style>
  .description-box {
    background-color: #333; /* Nền màu tối */
    color: #fff; /* Chữ màu trắng */
    padding: 15px; /* Khoảng cách bên trong */
    border-radius: 5px; /* Bo tròn góc */
    font-size: 16px; /* Kích thước chữ */
    line-height: 1.5; /* Khoảng cách dòng */
  }
</style>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
