<h1>Thêm Slide</h1>
<form action="/slides/store" method="post">
<div class="mt-4">
        <div class="form-group">
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Tiêu đề">
        </div>

        <div class="form-group">
            <label for="image">Link YouTube</label>
            <input type="text" class="form-control" id="image" placeholder="Dán link ảnh vào đây" name="image">
        </div>
        
        <div class="form-group">
            <label for="description">Mô tả chương trình</label>
            <input type="text" class="form-control" id="description" name="description">
        <button type="submit" class="btn btn-primary">Lưu</button>
    </form>
</div>
  {{!-- <input name="title" placeholder="Tiêu đề" />
  <input name="image" placeholder="Link ảnh" />
  <textarea name="description" placeholder="Mô tả"></textarea>
  <button type="submit">Lưu</button> --}}
</form>
